<%= form_for(@mono) do |f| %>
  <% if @mono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mono.errors.count, "error") %> prohibited this mono from being saved:</h2>

      <ul>
      <% @mono.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itemcode %><br>
    <%= f.text_field :itemcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
