<h1>Listing monos</h1>

<table>
  <thead>
    <tr>
      <th>Itemcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monos.each do |mono| %>
      <tr>
        <td><%= mono.itemcode %></td>
        <td><%= link_to 'Show', mono %></td>
        <td><%= link_to 'Edit', edit_mono_path(mono) %></td>
        <td><%= link_to 'Destroy', mono, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mono', new_mono_path %>
